/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.resume-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  line-height: 2;
}

.resume-page a {
  text-decoration: none;
  color: var(--yellow);
  font-size: 20px;
  background-color: var(--black);
  padding: 10px;
  border-radius: 10px;
}

.resume-page a:hover {
  color: var(--teal);
}

/* start full stack dev */

.container {
  display: flex;
  flex-direction: column;
}

.container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3em;
  margin: 3em;
}

.title {
  display: inline-block;
  font-family: sans-serif;
  text-align: center;
  font-size: 30px;
  margin-bottom: 0.5em;
  color: var(--white);
}

.purple-text {
  font-weight: bold;
}

.skills {
font-size: 24px;
color: var(--white);
}


.badges {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.flip-card {
  background-color: transparent;
  perspective: 1000px;
}

.full-stack-circle {
  position: relative;
  width: 150px;
  height: 150px;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.full-stack-circle-front {
  backface-visibility: hidden;
}

.full-stack-circle-front, .full-stack-circle-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.full-stack-circle-back {
  color: var(--yellow);
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  transform: rotateY(180deg);
}

.display-none {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

.circle-title:hover .display-none,
.circle-title:focus .display-none {
  opacity: 1;
}

.flip-card:hover .full-stack-circle,
.flip-card:focus .full-stack-circle {
  transform: rotateY(180deg);
}

.front-end, .back-end, .databases, .devops {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.front-end {
  background-image: url("https://www.svgrepo.com/show/146231/laptop.svg");
}

.back-end {
  background-image: url("https://www.svgrepo.com/show/278337/server.svg");
}

.databases {
  background-image: url("https://www.svgrepo.com/show/286661/database.svg");
}

.devops {
  background-image: url("https://www.svgrepo.com/show/339133/devops.svg");
}

/* end full stack dev */

/* start MERN animation */

.wrapper {
  position: relative;
  width: 500px;
  height: 350px;
  background-color: var(--white);
  border-radius: 20px;
}

.wrapper h1 {
  text-align: center;
  color: var(--black);
}

.circle {
  position: relative;
  top: 140px;
  left: 190px;
  width: 120px;
  height: 120px;
  background: gray;
  border-radius: 50%;
}

.mongo {
  position: absolute;
  border-bottom: 100px solid var(--yellow);
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 120px;
  border-radius: 10px;
  transform: rotate(100deg);
  top: 190px;
  right: 320px;
  transition: all 0.35s ease-in-out;
}

.express {
  position: absolute;
  border-bottom: 100px solid var(--black);
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 120px;
  border-radius: 10px;
  transform: rotate(150deg);
  top: 90px;
  right: 255px;
  transition: all 0.35s ease-in-out;
}

.react {
  position: absolute;
  border-bottom: 100px solid var(--purple);
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 120px;
  border-radius: 10px;
  transform: rotate(210deg);
  top: 90px;
  right: 130px;
  transition: all 0.35s ease-in-out;
}

.node {
  position: absolute;
  border-bottom: 100px solid var(--teal);
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 120px;
  border-radius: 10px;
  transform: rotate(260deg);
  top: 190px;
  right: 60px;
  transition: all 0.35s ease-in-out;
}

.mongo-text,
.express-text {
  transform: rotate(-90deg);
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 35px;
  font-size: 20px;
}

.node-text,
.react-text {
  transform: rotate(90deg);
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 40px;
  font-size: 20px;
}

.mongo:hover {
  transform: translateX(-20px) rotate(100deg) translateY(5px) scale(1.2);
  transition-timing-function: ease-in-out;
  transition: 0.5s;
}

.express:hover {
  transform: rotate(150deg) translateY(20px) scale(1.2);
  transition-timing-function: ease;
  transition: 0.5s;
}

.react:hover {
  transform: rotate(210deg) translateY(20px) scale(1.2);
  transition-timing-function: ease;
  transition: 0.5s;
}

.node:hover {
  transform: translateX(20px) rotate(260deg) translateY(-5px) scale(1.2);
  transition-timing-function: ease;
  transition: 0.5s;
}

.mongo:hover ~ .circle {
  transition-timing-function: ease;
  transition: 0.5s;
  background-color: var(--yellow);
}

.express:hover ~ .circle {
  transition-timing-function: ease;
  transition: 0.5s;
  background-color: var(--black);
}

.react:hover ~ .circle {
  transition-timing-function: ease;
  transition: 0.5s;
  background-color: var(--purple);
}

.node:hover ~ .circle {
  transition-timing-function: ease;
  transition: 0.5s;
  background-color: var(--teal);
}

/* end MERN animation */